@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>角色菜单权限</title>
</head>
<body>
    <ul id="treerolemenu"></ul>
</body>
</html>
